<h2>Update project</h2>
<div class="form-container">
    <form class="created-project-form" (ngSubmit)="onSubmit()" [formGroup]="teamForm">
        <div class="group">
            <label>Name</label>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput name="name" placeholder="name" formControlName="name">
            </mat-form-field>
        </div>
        <div class="group">
            <label>Created at</label>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="pickerCreated" name="createdAt" formControlName="createdAt">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="pickerCreated"></mat-datepicker-toggle>
                    <mat-datepicker #pickerCreated></mat-datepicker>
                </mat-form-field>
        </div>
        <div class="group">
            <button type="submit" [disabled]="!teamForm.valid" mat-raised-button color="primary">Submit</button>
        </div>
    </form>
</div>

