<div class="container">
    <h2>List tasks</h2>
    <table class="styled-table">
        <thead>
            <tr>
                <td class="cell">Id</td>
                <td class="cell">Project Id</td>
                <td class="cell">User Id</td>
                <td class="cell">Name</td>
                <td class="cell description-cell">Description</td>
                <td class="cell">Created At</td>
                <td class="cell">Finished At</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tasks">
                <td class="cell">{{t.id}}</td>
                <td class="cell">{{t?.projectId}}</td>
                <td class="cell">{{t?.userId}}</td>
                <td class="cell">{{t?.description}}</td>
                <td>{{t?.state}}</td>
                <td class="cell">{{t.createdAt}}</td>
                <td class="cell">{{t?.finishedAt}}</td>
                <td class="cell">
                    <button id="btnUpdate" (click)="updateProject(t)">Update</button>
                    <button id="btnRemove" (click)="deleteProject(t)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="containerButton">
        <button id="btnAdd" (click)="addProject()">Add project</button>
    </div>
</div>
